.menu-container {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start; 
  position: absolute; 
  z-index: 999; 
    
}

.menu-icon {
  font-size: 40px;
  cursor: pointer;
  margin: 0; 
 
  
}

.name {
   font-family: Redressed;
   font-size: 40px;
   text-align: center;
}

.side-menu {
  position: fixed;
  right: -600px; 
  top: 0;
  width: 500px;
  height: 100vh; 
  background-color: white;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1100; 
  transition: transform 0.3s ease; 
}

.side-menu.open {
  transform: translateX(-500px); 
}

.close-button {
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  margin-bottom: 20px; 
}

.menu-options {
  list-style-type: none;
  padding: 0;
   line-height: 2;
  font-size: 1.5rem;
 
}

.theIcons{
  margin-right: 5px; 
}

.firstLink{
  text-decoration: none;
   color: inherit ;

}

.secondLink{
display: flex;
align-items: center;
cursor: pointer;
}

.menu-options li {
  margin: 10px 0;
  cursor: pointer;
  align-items: center;
}

.overlay {
  top: 0;
  left: 0;
   height: 100vh; 
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1050; 
  transition: opacity 0.3s ease; 
  opacity: 0.75; 
  position: fixed;
  
 
}
