.menu-container {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start; 
  position: absolute; 
  z-index: 1; 
  padding: 20px; 
}

.menu-icon {
  font-size: 40px;
  cursor: pointer;
  margin: 0; 
  margin-left: 1700px;
}

.name {
   font-family: Redressed;
   font-size: 40px;
   text-align: center;
}

.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh; 
  background-color: white;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1000; 
}

.close-button {
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  margin-bottom: 20px; 
}

.menu-options {
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

.menu-options li {
  margin: 10px 0;
  cursor: pointer;
}

.overlay {
  top: 0;
  left: 0;
   height: 100vh; 
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; 
  transition: opacity 0.3s ease; 
  opacity: 0.5; 
  position: fixed;
}
