:root {
  --color-my-example: #ffff;

  --white: #ffffff;
  --grey-black: #333333;
  --green: #58d39f;
  --red: #d35883;
  --blue: #4285f4;
  --color-overlay-blur: rgba(255, 255, 255, 0.2);
  --grey: #d3d3d3;
  --black: #000000;
  --dark-gray: #4a4a4a --gray: #47434d;
  --gray: #47434d;
}
