:root {
  --font-rubik: "Rubik", "Arial", sans-serif;
  --font-Redressed: "Redressed", "Arial", sans-serif;
  --font-abeezee-italic: "ABeeZee", "Arial", sans-serif;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src:
    local("Inter"),
    url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap")
      format("woff2");
}

@font-face {
  font-family: "Redressed";
  font-weight: 400;
  font-display: swap;
  src:
    local("Redressed"),
    url("https://fonts.googleapis.com/css2?family=Redressed&display=swap") format("woff2");
}
.inter-unique-class {
  font-family: var(--inter);
  font-weight: 400;
  font-optical-sizing: auto;
  font-size: 24px;
  color: #222;
}
:root {
  --font-Redressed: "Redressed", "Arial", sans-serif;
  --inter: "Inter", sans-serif;
}
