.theIcons {
  margin-right: 7px;
}

.firstLink {
  text-decoration: none;
  color: inherit;
}

.HomeIcon {
  /* margin-bottom: 5px; */
  /* padding: 0px 0px 0px 0px; */
  /* margin: auto; */
  /* text-align: center; */
  /* background-color: red; */
}
